<footer id="contacto">
    <h1 class="title text-center">Contacto</h1>
    <p class="text-center mt-3"><i class="fas fa-mail-bulk"></i> marcosnoriega964@gmail.com</p>
    <p class="text-center mt-3"><i class="fab fa-github"></i> GitHub: <a href="https://github.com/MarcosNoriega" target="_blank">https://github.com/MarcosNoriega</a></p>
    <p class="text-center mt-3"><i class="fab fa-linkedin"></i> Linkedin: <a href="https://www.linkedin.com/in/marcos-noriega-993a4517b/" target="_blank">https://www.linkedin.com/in/marcos-noriega-993a4517b/</a></p>
    <p class="text-center mt-3">&copy; copyright {{anio}} por Marcos Noriega</p>
</footer>