<div class="container mt-4">
  <div class="wow fadeInUp">
    <p class="text text-center">En mis tiempos libres me he convertido en un desarrollador indie de videojuegos y mis creaciones van a estar disponibles en la pagina de itch.io pueden hacer click <a target="_blank" href="https://marcos-noriega.itch.io/">aqui</a> para ver mi perfil o hacer click en un botón que esta más abajo.</p>
    <p class="text text-center">Quiero compartirles un juego simple que hice con los assets de unity aquí en mí portafolio.</p>
    <p class="text text-center">Este juego fue creado como dije con Unity usando el lenguaje de programación c#, además está subido a firebase.</p>
    <p class="taxt text-center">Puedes visitarlo haciendo click <a href="https://flappy-web.web.app/">aquí</a></p>
  </div>
  <div class="row">
    <div class="col-12">
      <embed src="https://flappy-web.web.app/" width="100%" height="800px"> 
    </div>

    <a href="https://marcos-noriega.itch.io/" target="_blank" class="btn btn-primary mx-auto" target="_blank">Más Juegos</a>
  </div>
</div>
