<div class="container mt-4">
  <p class="text text-center">En mis tiempos libres me gusta aprender y desarrollar videojuegos y quería compartirles un juego simple que hice con los assets de unity.</p>
  <p class="text text-center">Este juego fue creado como dije con Unity usando el lenguaje de programación c#, además está subido a firebase.</p>
  <p class="taxt text-center">Puedes visitarlo haciendo click <a href="https://flappy-web.web.app/">aquí</a></p>
  <div class="row">
    <div class="col-12">
      <embed src="https://flappy-web.web.app/" width="100%" height="800px"> 
    </div>
  </div>
</div>
